env.sh

output/output.png
output/t_array.dat
output/s_array.dat

compiler/generated/config.hpp
compiler/generated/kernel-global/**
compiler/generated/kernel-register/**
compiler/generator/build/**
compiler/parser/build/**
compiler/scanner/build/**
compiler/compiler

simulator/generated/**
simulator/*.o
simulator.exe

docker/distrobox

benchmark/cuba/cuba_CODE
benchmark/cuba/output
benchmark/cuba/__pycache__
benchmark/cuba/*.png
benchmark/cuba/*.txt
*.txt

!benchmark/cuba/cuba-elapsedtime-excluding-compilation.png
!benchmark/cuba/cuba-elapsedtime-including-compilation.png
