env.sh

output/output.png
output/t_array.dat
output/s_array.dat

compiler/generated/config.hpp
compiler/generated/kernel-global/**
compiler/generated/kernel-register/**
compiler/generator/build/**
compiler/parser/build/**
compiler/scanner/build/**
compiler/compiler

simulator/generated/**
simulator/*.o
simulator.exe

benchmark/venv
benchmark/genn-5.1.0
benchmark/genn-5.1.0.tar.gz
